//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 09 17:32:42 2024
//! **************************************************************************

SCHEMATIC START;
COMP "SPI_SKC" LOCATE = SITE "U16" LEVEL 1;
COMP "CLK" LOCATE = SITE "C9" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "N10" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "T4" LEVEL 1;
COMP "SPI_SS_B" LOCATE = SITE "U3" LEVEL 1;
COMP "Reset" LOCATE = SITE "K17" LEVEL 1;
COMP "DAC_DS" LOCATE = SITE "N8" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "AMP_CS" LOCATE = SITE "N7" LEVEL 1;
COMP "SDC_SS" LOCATE = SITE "B6" LEVEL 1;
COMP "DAC_CLR" LOCATE = SITE "P8" LEVEL 1;
COMP "AD_CONV" LOCATE = SITE "P11" LEVEL 1;
COMP "PS2_DATA" LOCATE = SITE "G13" LEVEL 1;
COMP "SDC_MISO" LOCATE = SITE "A6" LEVEL 1;
COMP "SDC_MOSI" LOCATE = SITE "F7" LEVEL 1;
COMP "PS2_CLK" LOCATE = SITE "G14" LEVEL 1;
COMP "SDC_SCK" LOCATE = SITE "E7" LEVEL 1;
COMP "FPGA_INIT_B" LOCATE = SITE "T3" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CLK_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

